
@font-face {
    font-family: Arnold;
    src: url(Font/ArnoldBoecklin.ttf) format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #06102b;
    overflow-x: hidden;
    /* padding-bottom: 2000px; */
    font-family: 'Arnold', sans-serif;
}

body > *:not(footer) {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 20%;
    height: auto;
}

.carwash {
    margin-bottom: 0;
}

.section {
    background-color: rgba(41, 81, 41, 0.5);
    border-radius: 25px; /* Rounded corners to make it look like a bubble */
    padding: 20px; /* Space around the content */
    margin: 20px auto; /* Center the section with some space around it */
    max-width: 600px; /* Maximum width to keep the content line length comfortable */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-top: 0;
    font-family: sans-serif;
    color: rgb(0, 199, 213);
}