
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #06102b;
    overflow: auto;
    padding-bottom: 8000px;
}

body > *:not(footer) {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: float 20s ease-in-out infinite, shrink 90s ease-in-out infinite;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
    z-index: -1;
}

.bubble.mobile {
    bottom: -1000vh
}

#bubble-container {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    pointer-events: none;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 40%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #f648b0;
    filter: blur(8px);
}

.bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #000000;
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 20px;
    border-top: 15px solid #62bffd;
    filter: blur(8px);
}
.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #f2ff8d;
    filter: blur(12px);
}
.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}

@keyframes float {
    0% {
        transform: translateX(0) scale(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-10px) scale(1);
    }
    100% {
        top: -200px; /* Change this to move the bubbles up */
        transform: translateX(0) scale(0);
        opacity: 1;
    }
}

@keyframes shrink {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}

/* Styles for screens that are 600px wide or less */
@media (max-width: 600px) {
    .bubble {
        width: 50px; /* Make the bubbles smaller */
        height: 50px; /* Make the bubbles smaller */
        animation: float 10s ease-in-out infinite, shrink 15s ease-in-out infinite; /* Make the bubbles move slower */
    }
}